.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Active-menu {
  background: linear-gradient(92deg, #595ff7 -229%, transparent 94%);
  border-left: 4px solid #0ea5e9;
}
.active{
  border-bottom: 4px solid #0ea5e9 !important;  
  color: #0ea5e9 !important;  
}

.ping {
  border-radius: 50%;
  border: 20px solid #222;
  width: 40px;
  height: 40px;
  /* color:black; */
  animation: load 1.5s ease-out infinite;
}

@keyframes load {
  0% {
    /* background: #fff; */
    border: 0px solid #aca8a8;
 }
  50% {
    /* background: #fff; */
    border: 50px solid #cdcaca;
 }
  100% {
    /* background: #fff; */
    border: 0px solid #fff;
 }
}
