@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.1rem;
}

::-webkit-scrollbar-track {
  border-radius: 12px;
  background: #dddddd52;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #202c44;
}


body{
  background-color: #303c5c;
  
}